.pagination {
  width: 100%;
  display: flex;
  justify-content: center;

  &Button {
    background-color: red;
    border: transparent;
    border-radius: 5px;
    color: white;
    padding: 0.4% 0.4%;
    margin: 1% 1%;
  }

  &Number {
    background-color: red;
    border: transparent;
    border-radius: 5px;
    color: white;
    padding: 0.4% 0.8%;
    margin: 1% 0.5%;
  }

  &Selected {
    background-color: red;
    border-color: transparent;
    border-radius: 5px;
    color: white;
    padding: 0.4% 0.8%;
    margin: 1% 0.5%;
    box-shadow: 1px 1px 1px 1px gray;
  }
}
