@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  font-family: 'Marvel', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-top: 8%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px gray;
  margin-bottom: 8%;
}

.searchTitleContent {
  background-color: red;
  color: white;
  padding: 0% 0% 2% 2%;
  border-radius: 5px 5px 0px 0px;
}

.searchResults {
  padding-top: 2%;
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-gap: 20px;
  justify-content: center;
  padding-bottom: 2%;
}

.searchOneResult {
  display: flex;
  justify-content: center;
}