@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

#searchBar {
  width: 30%;
  height: 10%;
  font-size: 0.8em;
  border-radius: 5px;
  border: transparent;
  padding: 0.5%;
  font-family: 'Marvel', sans-serif;
}

.searchBarButton {
  height: 10%;
  font-size: 0.8em;
  padding: 0.5%;
  margin: 0% 4%;
  border-radius: 5px;
  border: transparent;
  font-family: 'Marvel', sans-serif;
  font-weight: 700;
  cursor: pointer;
}